/* Google-Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Source+Code+Pro:wght@300;600&display=swap");

/* //////// */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bg-color: #fff;
  --text-color: #000;
  --primary-color: #0000ff89;
  --optional-color: #e0e0e0;
  --coding-font: "Source Code Pro", monospace;
}

/* //////// */
body,
html {
  background-color: whitesmoke;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  min-height: 100vh;
  width: 100%;
}
a {
  text-decoration: none;
  color: var(--text-color);
}
/* //////// */
header {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 2px 0 #c0c0c0;
  background-color: var(--bg-color);
}
.logo,
.github {
  margin: 0 40px;
  font-size: 1.2rem;
  font-family: var(--coding-font);
  font-weight: 600;
}
.logo > span {
  color: var(--primary-color);
  font-size: 0.8rem;
}
.github {
  background-color: var(--bg-color);
  padding: 5px 13px;
  border-radius: 5px;
  border: 1.5px solid #0000ff89;
}

/* //////// */
main {
  max-width: 800px;
  margin: 0 auto;
  min-height: 90vh;
  background-color: #ffffff;
  border-radius: 5px;
  margin-bottom: 30px;
}
.container {
  margin: 30px 14px;
}
.app-heading {
  margin-bottom: 20px;
  font-size: 1.1rem;
  padding-top: 10px;
}
.app-heading::first-letter {
  font-size: 1.8rem;
  font-weight: bold;
}
figure {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
h4 {
  font-size: 1.5rem;
}
select {
  padding: 3px 5px;
}
/* //////// */

.code-container {
  margin: 20px 0px;
  display: flex;
  max-width: 800px;
  height: auto;
  overflow-x: auto;
  background-color: var(--optional-color);
  border: 1px solid rgba(0, 0, 0, 0.718);
  padding: 10px;
  white-space: pre-wrap;
  border-radius: 2px;
}
.javascript-code {
  font-family: var(--coding-font);
}
/* ////////////// */

#link {
  border-bottom: 1.5px solid var(--primary-color);
  color: var(--primary-color);
}
/* ////////////// */
footer {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 0.5px solid var(--optional-color);
  background-color: var(--bg-color);
}
